
@{
    ViewBag.Title = "CreateZdanieForArenda";
}


@model WeBudget.Models.ZdanieForArenda

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавить здание для аренды</h2>

@using (Html.BeginForm())
{

    @Html.LabelFor(model => model.Date, "Дата постройки")
    <br />
    @Html.EditorFor(model => model.Date)
    <br /><br />
    @Html.LabelFor(model => model.Sum, "Стоимость здания")
    <br />
    @Html.EditorFor(model => model.Sum)
    <br /><br />
    @Html.LabelFor(model => model.Comment, "Дополнительная информация")
    <br />
    @Html.EditorFor(model => model.Comment)
    <br /><br />
    <input type="submit" value="Добавить" />
}

