@{
    ViewBag.Title = "Контакты";
}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Контакты</title>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css" />
    <title>Выравнивание фотографии по центру</title>
</head>

<div class="card mb-3">
    <img class="card-img-top" src="~/img/home.jpg" alt="Card image cap">
</div>

<style>
    .fig {
        text-align: center; /* Выравнивание по центру */
    }
    .center {
        width: 700px; /* Ширина элемента в пикселах */
        padding: 10px; /* Поля вокруг текста */
        margin: auto; /* Выравниваем по центру */
    }
</style>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Меню</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link">
                        @Html.ActionLink("Главная", "Home", "Home")
                    </a>
                    <a class="nav-item nav-link">
                        @Html.ActionLink("О компании", "About", "Home")
                    </a>
                    <a class="nav-item nav-link">
                        @Html.ActionLink("Клиентам", "Customers", "Home")
                    </a>
                    <a class="nav-item nav-link">
                        @Html.ActionLink("Проекты", "ZdanieForPokupkas", "ZdanieForPokupka")
                    </a>
                    <a class="nav-item nav-link">
                        @Html.ActionLink("Контакты", "Contact", "Home")
                    </a>
                </div>
            </div>
        </nav>

        <blockquote>
            <p>
                Адресс компании:

            </p>
            <p>
                г. Ростов-на-Дону, пл. Толстого, д. 1/2

            </p>
            <p>
                info@kristinastroy.ru
            </p>
            ____________________________________________________________________________________________________________________________
            <p>
                Приемная директора:
            </p>
            <p>
                тел. 8 (863) 253-85-10
                kristina.firma@mail.ru
            </p>
            ____________________________________________________________________________________________________________________________
            <p>
                Юридический отдел

            </p>

            <p>
                тел. 8 (863) 251-83-55
            </p>


        </blockquote>
    </div>

    <footer>
        <div class="card mb-3">
            <img class="card-img-top" src="/img/footer.jpg" alt="Card image cap">
            <div class="card-body text-info">
                <h5 class="card-title">Связаться с нами</h5>
                <p class="card-body text-info">
                    Наши контакты:
                    Телефон +7 000 000 00 00    e-mail: samistroim@gmail.com
                </p>
            </div>
        </div>
    </footer>
</body>

