@{
    ViewBag.Title = "Контакты";
}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Контакты</title>
    <link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css" />
    <title>Выравнивание фотографии по центру</title>
</head>

<p class="fig">
    <img src="~/img/home.jpg"
         width="1263" height="320" alt="Фотография">
</p>

<style>
    .fig {
        text-align: center; /* Выравнивание по центру */
    }
    .center {
        width: 700px; /* Ширина элемента в пикселах */
        padding: 10px; /* Поля вокруг текста */
        margin: auto; /* Выравниваем по центру */
    }
</style>

<body>
    <div id="wrapper" ">
        <nav>

            <ul class="top-menu">
                <li>@Html.ActionLink("Главная", "Home", "Home")</li>
                <li>@Html.ActionLink("О компании", "About", "Home")</li>
                <li>@Html.ActionLink("Клиентам", "Customers", "Home")</li>
                <li>@Html.ActionLink("Проекты", "ZdanieForPokupkas", "ZdanieForPokupka")</li>
                <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
            </ul>

        </nav>

            <blockquote>
                <p>
                    Адресс компании:

                </p>
                <p>
                    г. Ростов-на-Дону, пл. Толстого, д. 1/2

                </p>
                <p>
                    info@kristinastroy.ru
                </p>
                ____________________________________________________________________________________________________________________________
                <p>
                    Приемная директора:
                </p>
                <p>
                    тел. 8 (863) 253-85-10
                    kristina.firma@mail.ru
                </p>
                ____________________________________________________________________________________________________________________________
                <p>
                    Юридический отдел

                </p>

                <p>
                    тел. 8 (863) 251-83-55
                </p>


            </blockquote>
    </div>



    <footer>
        <div id="footer">
            <div id="twitter">
                <h3>Связаться с нами</h3>
                <time datetime="2012-10-23"><a href="#">25.09</a></time>
                <p>
                    Наши контакты:
                    Телефон +7 000 000 00 00
                </p>
                <p>
                    e-mail: samistroim@gmail.com
                </p>
            </div>
            <div id="sitemap">
                <h3>Карта сайта</h3>
                <div>
                    <a href="@Html.ActionLink("Клиентам", "Customers", "Home")"</a>
                    <a href="@Html.ActionLink("Контакты", "Contact", "Home")"</a>
                </div>
            </div>
            
            <div id="footer-logo">
                <a href="/"><img src="~/img/footer-logo.png" alt="Whitesquare logo"></a>

            </div>
        </div>
    </footer>
</body>

