
@{
    ViewBag.Title = "EditDohod";
}

<h2>EditDohod</h2>

@{
    ViewBag.Title = "Редактировать доход";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WeBudget.Models.Dohod
<h2>Доход № @Model.Id</h2>
@using (Html.BeginForm("EditDohod", "Dohod", FormMethod.Post))
{
<fieldset>
    @Html.HiddenFor(m => m.Id)
    <p>
        @Html.LabelFor(m => m.Day, "День")
        <br />
        @Html.EditorFor(m => m.Day)
    </p>
    <p>
        @Html.LabelFor(m => m.Month, "Месяц")
        <br />
        @Html.EditorFor(m => m.Month)

    </p>
    <p>
        @Html.LabelFor(m => m.Sum, "Сумма")
        <br />
        @Html.EditorFor(m => m.Sum)
    </p>

    <p>
        @Html.LabelFor(m => m.Comment, "Комментарий")
        <br />
        @Html.EditorFor(m => m.Comment)
    </p>
        @Html.HiddenFor(m => m.UserId)
    <p><input type="submit" value="Отправить" /></p>
</fieldset>
}